@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300;700&display=swap');

html, body {
  margin: 0;
  height: 100%;
  overflow: hidden;
}

body {
  background-image: url("../background.jpg");
  background-size: cover;
}

header {
  margin-top: 35px;
  margin-left: 64px;

  h1, h2 {
    margin: 0;
    padding: 0;
    font-family: Roboto Slab;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 39px;
    color: #FFFFFF;
  }

  h2 {
    opacity: 0.6;
  }
}

#map {
  position: absolute;
  top: 120px;
  bottom: 0;
  left: 0;
  right: 50%;
  border: 1px solid red;

  svg {
    .city {
      fill: #fff;
      stroke: none;
    }
  }
}

#detail {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 50%;
  right: 0;
  border: 1px solid green;

  h3 {
    margin: 0;
    padding: 0px 10px;
    position: absolute;
    top: 94px;
    right: 81px;

    background: #F15359;
    border-radius: 3px;

    font-family: Roboto Slab;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 47px;
    text-align: right;
    color: #FFFFFF;
  }

  #photo {
    position: absolute;
    top: 217px;
    right: 68px;
    left: 0;
    height: 410px;
    border: 1px solid red;
  }
}
